@model StudentsService_Data.Student
@{
    ViewBag.Title = "Details";
}

<h2>@Model.RowKey</h2>
<h3>@Model.Name</h3>
<h3>@Model.LastName</h3>
<img src="@Model.PhotoUrl" /><br />

@Html.ActionLink("Back to List", "Index")

